MYSQL_ROOT_PASSWORD=your_mysql_root_password
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3307/ecommerce_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=your_mysql_root_password
JWT_SECRET=your_secret_jwt_key_here
ADMIN_EMAIL=your_admin_email@example.com
ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password